/*
@author "Marcelo Silveira Hayden"

@dictionary
    "ctr" means "container";
    "usr" means "user";
    "btn" means "button";
    Class selectors without a especified element are for DIV elements
*/
/* GENERAL */
body {
    margin: 8px auto;
    max-width: 900px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
a {
    color: #000;
}
a:visited {
    color: purple;
}
a:active {
    color: red;
}
a:hover {
    color: palevioletred;
}
h2, .note_ctr p, ul#usr_list {
    margin: 0;
}
button, input[type='submit'] {
    min-width: 7em;
    margin-left: 0.8em;
    padding: 0.3em;
    border: 1px solid palevioletred;
    background-color: white;
}
button:hover, input[type='submit']:hover {
    background-color: palevioletred;
}
ul#usr_list {
    padding: 0;
    list-style-type: none;
}

/* Media card */
li.media_card {
    padding: 1em;
    border: 1px solid lightgray;
    font-family: 'Courier New', Courier, monospace;
}
li.media_card:hover {
    background-color: #E2E2E2;
}
.links_ctr::before {
    content: 'Link: ';
}
.tags_ctr::before {
    content: 'Tags: ';
}
.note_ctr p {
    display: inline;
    font-style: italic;
}
.note_ctr::before {
    content: 'Note: ';
}
.buttons_ctr {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

/* Form style */
form {
    padding: 1em 0;
}
form input[type='submit'] {
    box-shadow: none; /* just to reset */
}
form label {
    display: inline-block;
    margin: 10px;
}
form input {
    margin: 0 0.5em;
    padding: 0.3em;
    transition: border-color 0.5s;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0.3em lightgray;
}
form input:hover {
    transition: border-color 0.5s;
    border: 1px solid black;
}
form input:focus {
    outline: 0.2em solid palevioletred;
}

/* Footer */
footer {
    background-color: #E2E2E2;
    padding: 1em;
}